html, body {
    height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

body {
    background: radial-gradient(circle, rgb(255, 199, 216), rgb(145, 242, 242));
    background-size: 200% 200%;
    animation: gradientAnimation 10s ease infinite;
    color: #d4af37; 
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 2rem;
    min-height: 100vh;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


.container {
    text-align: center;
    width: 80%;
    max-width: 900px;
}

header h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
    color: #000000; 
    border: 5px solid #af37d4;
    display: inline-block;
    padding: 0.5rem 1.5rem;
    border-radius: 8px;
    user-select: none;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    padding-bottom: 2rem;
}

.box {
    background-color: #ffffff;
    border: 3px solid #a737d4;
    border-radius: 20px;
    padding: 3rem 2rem;
    font-size: 1.5rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    color: #c990e9;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.3s ease, color 0.3s ease;
    min-height: 150px;
    text-align: center;
}

.box:hover {
    background-color: #f7d973;
    color: #000000;
}

footer{
    color: #000000;
}

marquee{
    font-size: 2rem;
    color: rgb(0, 0, 0);
    font-family: Georgia, 'Times New Roman', Times, serif;
}